* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #333;
	font-family: "Orbitron", sans-serif;
	color: #333;
	line-height: 1.4;
}

a {
	color: #FF528F;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	}
	
	
.page-wrap {
	max-width: 80%;
	margin: 30px auto;
	padding: 0 10px;
}


header {
	background: #000;
	border: 2px solid #FFF;
	border-radius; 4px;
	box-shadow: 3px 3px 0 #707070;
	padding: 12px 16px;
	margin-bottom: 14px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	gap: 10px;
}

.s-title {
	font-size: 40px;
	font-weight: bold;
	color: #F7ADC1;
	letter-spacing: 0.08em;
	text-transform: uppercase;
}

.s-subtitle {
	font-size: 20px;
	color: #FFE3EB;
	margin-top: right;
}

.s-links {
	font-size: 20px;
	text-align: right;
}

.s-links a {
	margin-left: 6px;
	padding: 2px 4px;
	border-radius: 2px;
	background: #ffe9f3;
	border: 1px solid #f1c5d3;
}

.s-links a:hover {
	background: #000;
}

.header-right {
	display: flex;
	align-items: flex-end;
	gap: 10px;
}


.content-wrap {
	display: grid;
	grid-template-columns: 260px minmax(0, 1fr);
	gap: 12px;
}

@media (max-width: 720px) {
	.content-wrap {
		grid-template-columns: 1fr;
	}
}



/* Side Bar */

.sidebar {
	background: #000;
	border: 2px solid #FFF;
	border-radius: 4px;
	box-shadow: 3px 3px 0 #;
	padding: 20px;
	font-size: 0.8rem;
}

.sidebar h3 {
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 0.12em;
	color: #FFCFDC;
	margin-bottom: 6px;
	border-bottom: 1px dashed #FFF;
	padding-bottom: 3px;
}

.sidebar-image {
	width: auto;
	margin-top: 10px;
}

.sidebar-section {
	margin-bottom: 20px;
	color: #FFF;
}

.sidebar-section:last-child {
	margin-bottom: 0;
}

.sidebar-list {
	list-style: none;
	margin-top: 4px;
	color: #FFF;
}

.sidebar-list li {
	margin-bottom: 4px;
}

/* Sidebar End */


/* Main Area */

.main {
	background: #000;
	border: 2px solid #FFF;
	border-radius: 4px;
	box-shadow: 3px 3px 0 #707070;
	padding: 14px 16px 18px;
	font-size: 20px;
	overflow: scroll;
	height: 500px;
}



.blog-entry-outer {
	margin-top: 14px;
	padding-top: 10px;

}

.blog-entry-inner {
	margin: 12px;
	padding: 10px 10px 10px 10px;
	border: 2px solid #fFF;
	border-radius: 4px;
	box-shadow: 0 0 0 4px #FFCFDC inset;
	color: #fff;
	display: flex-box;
	justify-content: space-between;
	overflow-wrap: break-word
}

.row {
	display: flex;
  justify-content: space-between;
  width: 100%;
}

.left {
	margin: 0px;
	text-align: left;
}

.right {
	margin: 0px;
	text-align: right;
}

.blog-entry-title {
	font-weight: bold;
	font-size: 24px;
	color: #FFCFDC;
	margin: 0p 8px;
	text-align: center;
}

.blog-entry-body {
	margin-top: 4px;
	color: #FFF;
}

/* Main END */

footer {
	margin-top: 10px;
	font-size: 0.75rem;
	text-align: center;
	color: #FFF;
}

footer a {
	color: #FFCFDC;
}

/* FOOTER */



/* FOOTER END */
